<html>
  <head>
    <title>Home Page</title>
    <style>
      h1 {
        text-align: center;
      }
    
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    </style>
  </head>
  
  <body>
    <h1>ABOUT PAGE!</h1>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
    </ul>
  </body>
</html>